@model IEnumerable<webBangHangOnline.Models.EF.Product>



@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <!-- Product 1 -->
        var strImg = "";
        var img = item.ProductImage.FirstOrDefault(x => x.IsDefault);
        if (img != null)
        {
            strImg = img.Image;
        }
        decimal sub = item.Price - item.PriceSale;
        <div class="product-item @item.ProductCategory.Alias">
            <div class="product discount product_filter out_of_product-main">
                <div class="product_image text-center">
                    <img id="getImginItem_@item.Id" src="@strImg" alt="@item.Title">
                </div>
                <div class="favorite favorite_left"></div>
                @if (item.PriceSale != 0)
                {
                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>- @(item.PriceSale != 0 ? sub.ToString("###,###,###.##" + " vnđ") : "")</span></div>
                }
                <div class="product_info">
                    <h6 class="product_name"><a id="getTitleinItem_@item.Id" href="/chi-tiet-san-pham/@item.Alias-@item.Id">@item.Title</a></h6>
                    @if (item.PriceSale == 0)
                    {
                        <div class="product_price"><p style="color:#fe4c50" id="getPriceinItem_@item.Id">@item.Price.ToString("###,###,###.##" + " vnđ")</p></div>
                    }
                    else
                    {
                        <div class="product_price">
                            <p style="color:#fe4c50" id="getPriceinItemSale_@item.Id">@item.PriceSale.ToString("###,###,###.##" + " vnđ")</p>
                            <div>
                                <span>@item.Price.ToString("###,###,###.##" + " vnđ")</span>
                                <div style="display:none" class="in_product_price">@item.Price</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @if (item.Quantity != 0)
            {
                <div class="red_button add_to_cart_button m-0 w-100"><a href="#" class="btnAddToCart" data-id="@item.Id">add to cart</a></div>
            }
            else
            {
                <div class="red_button add_to_cart_button d-none"><p disabled="disabled" data-id="@item.Id">Dã hết hàng</p></div>
                <div class="out_of_product">
                    <p class="out_of_product--title">Hết hàng</p>
                </div>
            }

        </div>
    }
}
